.search__container {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.search__form {
  justify-self: center;
  grid-column: 2/3;
}
[name="search"] {
  width: 200px;
}
.search__btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.7rem;
  background-color: orange;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.search__btn:hover {
  background-color: black;
  color: white;
}
